<!doctype html>

<html>
<head>
	<title>About US</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-twitter.css" />
		<link rel="stylesheet" type="text/css" href="css/metro-bootstrap.css" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="js/bootstrap.js"></script>
</head>

<body>
<div style = "position:relative;">
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-green">
        	<a href="index" class="fa-links">
            	<h1>Home</h1>
                <i class="fa fa-3x fa-home"></i>
			</a>
    	</div>
	</div>
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-orange">
        	<a href="experience" class="fa-links">
            	<h1 style = "width:100%;">EXP</h1>
                <i class="fa fa-3x fa-terminal"></i>
			</a>
		</div>
	</div>
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-red">
        	<a href="fun" class="fa-links">
            	<h1>Hobbies</h1>
                <i class="fa fa-3x fa-smile-o"></i>
			</a>
		</div>
	</div>
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-blue">
        	<a href="contact" class="fa-links">
            	<h1>Contact</h1>
            	<i class="fa fa-3x fa-envelope"></i>
			</a>
		</div>
	</div>
</div>

<div class="row" style = "margin-top:15%; position:relative;">
  <div class="span6">
  <h1>Experience</h1>
  <p>
  </p>  
</div>
  <div class="span2">
  <h1>Coursework</h1> 
  		
	</div>
	
	<div style ="clear: both;
    position: relative;
    z-index: 10;
    height: 3em;">
	<hr>
	<p class="text-center">
    &copy; 2014, Ryan Yu
	</p>
	</div>

</body>
</html>
