<!doctype html>

<html>
<head>
	<title>About US</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-twitter.css" />
		<script src="js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="css/metro-bootstrap.css" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script>
$('button').click(function(){
    $(this).text(function(i,old){
        return old=='+' ?  '-' : '+';
    });
});
</script>
</head>

<body>
<div style = "position:relative;">
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-green">
        	<a href="index" class="fa-links">
            	<h1>Home</h1>
                <i class="fa fa-3x fa-home"></i>
			</a>
    	</div>
	</div>
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-orange">
        	<a href="experience" class="fa-links">
            	<h1 style = "width:100%;">EXP</h1>
                <i class="fa fa-3x fa-terminal"></i>
			</a>
		</div>
	</div>
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-red">
        	<a href="fun" class="fa-links">
            	<h1>Hobbies</h1>
                <i class="fa fa-3x fa-smile-o"></i>
			</a>
		</div>
	</div>
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-blue">
        	<a href="contact" class="fa-links">
            	<h1>Contact</h1>
            	<i class="fa fa-3x fa-envelope"></i>
			</a>
		</div>
	</div>
</div>

<div class="row" style = "margin-top:15%; position:relative;">
  <div class="span6">
  <h1>Experience</h1>  
  <li class="list-group-item">
  		<h4 style = "float:left; position:relative;">Apple iOS Application Developer</h2>
  		<h4 style = "display:inline-block; float:right;"><strong>Sept 2012 - present</strong></h2>
  		<br>
  		<br>
  		<p>Developed multiple applications for Apple iPhone platform using Objective-C
  		and Xcode. I developed utility applications using page-views and games using cocoa.
  		 <a href = "https://itunes.apple.com/sl/app/moneys-free/id701668888?mt=8">
  		 <img src = "resources/appstoreicon.jpg" style = "width:20%; height:20%; float:left; margin-right:5px; margin-bottom:5px;"> 
  		 </a>
  		 One example of an application I built is Moneys, which is currently on the App Store,
  		 which is a debt tracker to see how much a person owes you, which is really useful in 
  		 college. 
  		 </p>
  	</li>
  <li class="list-group-item">  		
  		<h4 style = "float:left; position:relative;">InnoDisk Web Intern</h2>
  		<h4 style = "display:inline-block; float:right;"><strong>July - Sept 2012</strong></h2>
  		<br>
  		<br>
  		<p>
  		I was an intern for <a href = "www.innodisk.com">InnoDisk</a>, helping them 
  		with web design and worked closely with the marketing department. I helped build 
  		websites and worked with the marketing and sales departments to see which way to 
  		layout websites for internal and client use.
  		 </p>
  	</li>
  <li class="list-group-item">  		
  		<h4 style = "float:left; position:relative;">Web Application Development</h2>
  		<h4 style = "display:inline-block; float:right;"><strong>Sept 2012 - present</strong></h2>
  		<br>
  		<br>
  		<p>
  		I developed websites for classes and for my own hobby. I have used many technologies 
  		to build websites including Ruby On Rails, Node.js, HTML, JavaScript, MongoDB and 
  		hosting on Google Appspot and Heroku. 
  		<br>
  		<strong><a href = "www.codebuilders.heroku.com" style = "float:left;">Therapy Website </a></strong>
  		<strong style = "display:block; float:right;">Sept - Dec 2013</strong>
  		<br>
  			This was an application for my advanced software engineering class, where my team
  			built a website designed for physical therapists and clients to use and book
  			appointments. For this website, I used HTML, JavaScript, Node.js, and AngularJS.
  		<br>
  		<strong><a href = "www.todocse170.heroku.com" style = "float:left;">Lab Weather </a></strong>
  		<strong style = "display:block; float:right;">Jan - Mar 2014</strong>
  		<br>
			This website was for my design class, and my team built a website that 
			lets users crowdsource the conditions for other users by telling other 
			users how full or dirty a computer lab is at UCSD.
		<br>
  		<strong><a href = "www.codebuilders.heroku.com" style = "float:left;">Resume website </a></strong>
  		<strong style = "display:block; float:right;">Mar 2014</strong>
  		<br>
			This website is my resume website, which I built myself. It utilizes Node.js,
			JavaScript, HTML, and JSON.
		<br>
		<strong style = "float:left; color:blue;">Shopping Website</strong>
		<strong style = "display:block; float:right;">Mar - June 2013</strong>
		<br>
		I developed a shopping website using AJAX, JavaScript, SQL, and Apache TomCat server 
		along with making use of pre-computation and indexing tables for fast results. The 
		website is minimal, but utilizes database skills in SQL and fetching/pushing data 
		into servers.
  		 </p>
  	</li>  
  <li class="list-group-item">
  		<h4 style = "float:left; position:relative;">Google Android Application Developer</h2>
  		<h4 style = "display:inline-block; float:right;"><strong>Sept 2012 - present</strong></h2>
  		<br>
  		<br>
  		<p>
  		I have experience in developing applications for Android platform. I use Java and 
  		Eclipse to develop these applications. Some examples are an Android Application with a team for CrossFit, 
  		an exercising company, which had all their existing and daily and workouts in the application.
		I also made another game called feedOllie, a game where a dog eats treats across a landscape, 
		which is currently on Google Play Store.

  		 </p>
  	</li>
</div>
  <div class="span4">
  <h1>Education</h1>
  <h3 style = "margin-left:5%; color:blue;">B.S. Computer Science 
  <br>
	University of California, San Diego (UCSD)</h3>
	<h4 style = "margin-left:5%;"> Expected Graduation: December 2014</h4>
	<br>
  <h1>Coursework</h1> 
<ul class="list-group">
  <li class="list-group-item">Advanced Data Structures (CSE 100)</li>
  <li class="list-group-item">Advanced Software Engineering (CSE 112)</li>
  <li class="list-group-item">Design and Analysis Algorithms (CSE 101)</li>
  <li class="list-group-item">Human Computer Interaction (CSE 170)</li>
  <li class="list-group-item">Operating Systems (CSE 120)</li>
  <li class="list-group-item">Mobile Programming (CSE 190)</li>
</ul>
	</div>
	
	<div style ="clear: both;
    position: relative;
    z-index: 10;
    height: 3em;">
	<hr>
	<p class="text-center">
    &copy; 2014, Ryan Yu
	</p>
	</div>

</body>
</html>
