<!doctype html>

<html>
<head>
	<title>About US</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-twitter.css" />
		<script src="js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="css/metro-bootstrap.css" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script>
$('button').click(function(){
    $(this).text(function(i,old){
        return old=='+' ?  '-' : '+';
    });
});
</script>
</head>

<body>
<div style = "position:relative;">
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-green">
        	<a href="index" class="fa-links">
            	<h1>Home</h1>
                <i class="fa fa-3x fa-home"></i>
			</a>
    	</div>
	</div>
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-orange">
        	<a href="experience" class="fa-links">
            	<h1 style = "width:100%;">EXP</h1>
                <i class="fa fa-3x fa-terminal"></i>
			</a>
		</div>
	</div>
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-red">
        	<a href="fun" class="fa-links">
            	<h1>Hobbies</h1>
                <i class="fa fa-3x fa-smile-o"></i>
			</a>
		</div>
	</div>
	<div class=".col-xs-6 .col-sm-3">
		<div class="thumbnail tile tile-blue">
        	<a href="contact" class="fa-links">
            	<h1>Contact</h1>
            	<i class="fa fa-3x fa-envelope"></i>
			</a>
		</div>
	</div>
</div>

<div class="row" style = "margin-top:15%; position:relative;">
  <div class="span6">
  <h1>What I do for Fun! :)</h1>
  Aside from computer science, I also like to have fun, especially with my friends. 
  Some of the activities I like to do are going to the beach, eating desserts, 
  going to concerts, and seeing new things! 
  <img src = "resources/beach.jpg" style = "float:left; margin-right:5px; margin-bottom:5px; width:40%; height:30%;">
  I also enjoy going on road trips and seeing beautiful scenery and new experiences, 
  like snowboarding or camping since it is really fun with friends. I like to do all 
  <img src = "resources/snow.jpg" style = "float:right; margin-left:5px; margin-bottom:5px; width:40%; height:40%;">
  of these activities since it lets me relax and not think about work for a while. I really
  like going outdoors and having fun sometimes with my dog!, a break from the computer. :D
  To many of my friends surprise, I do not enjoy playing games, which is why I like hanging
  out with friends.
  <img src = "resources/ollie.jpg" style = "float:left; margin-right:5px; margin-top:5px; width:40%; height:30%;">

</div>
  <div class="span4">
  <h1>Hobbies</h1> 
<ul class="list-group">
  <li class="list-group-item">Coding</li>
  <li class="list-group-item">Hiking</li>
  <li class="list-group-item">Desserts</li>
  <li class="list-group-item">Snowboarding</li>
  <li class="list-group-item">Movies</li>
  <li class="list-group-item">Going to the Beach</li>

</ul>
	</div>
	
	<div style ="clear: both;
    position: relative;
    z-index: 10;
    height: 3em;">
	<hr>
	<p class="text-center">
    &copy; 2014, Ryan Yu
	</p>
	</div>

</body>
</html>
